body {
  margin: 0;
  padding: 0;
  /* width: 400px; */
  height: 500px;
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: white;
}

.loader {
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

form {
  text-align: center;
  margin: 20px 0;
}

input {
  margin: 0;
  border-radius: 7px;
  padding: 11px 15px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 10px #212121;
}

button {
  margin: 0;
  border-radius: 7px;
  border: none;
  padding: 7px 10px;
  margin-left: 10px;
  margin-top: -2px;
  outline: none;
  box-shadow: 0px 3px 10px #212121;
  transition: all 0.2s ease;
}

button:hover {
  background-color: lightgray;
}

.error {
  border: 1px solid red;
}

.loader {
  margin: 120px auto;
  text-align: center;
}

.info {
  margin: 70px 0;
}

.city {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 7px;
  margin: 0;
}

.desc {
  margin: 0;
  font-weight: 300;
}

.temp {
  font-size: 100px;
  font-weight: 900;
  margin: -20px 0 0 0;
}

.descContainer {
  margin: 0px 0 0 0;
}

.unsplashUser {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.unsplashUser div {
  position: relative;
  left: -50%;
  display: inline-block;
  margin-bottom: 40px;
}

.unsplashUser a {
  float: left;
}

.unsplashUser img {
  border-radius: 50%;
}

.unsplashUser p {
  float: left;
  text-align: center;
  margin: 0;
  margin-left: 25px;
  margin-top: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
