body {
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: black;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

form {
  text-align: center;
  margin: 20px 0;
}

input {
  margin: 0;
  border-radius: 7px;
  padding: 11px 15px;
  border: none;
}

button {
  margin: 0;
  border-radius: 7px;
  border: none;
  padding: 7px 10px;
  margin-left: 10px;
  margin-top: -2px;
}

input: focus, button: focus {
  outline: none;
}

.App {
}

.info {
  margin-top: 70px;
}

.city {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 7px;
  margin: 0;
}

.desc {
  margin: 0;
  font-weight: 300;
}

.temp {
  font-size: 100px;
  font-weight: 900;
  margin: -20px 0 0 0;
}

.descContainer {
  margin: 0px 0 0 0;
}

.unsplashUser {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.unsplashUser div {
  position: relative;
  left: -50%;
  display: inline-block;
}

.unsplashUser a {
  float: left;
}

.unsplashUser img {
  border-radius: 50%;
}

.unsplashUser p {
  float: left;
  text-align: center;
  margin: 0;
  margin-left: 25px;
  margin-top: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
